Take.Blip.Utils.Api/bin
Take.Blip.Utils.Api/obj

Take.Blip.Utils.Facade/bin
Take.Blip.Utils.Facade/obj

Take.Blip.Utils.Models/bin
Take.Blip.Utils.Models/obj

Take.Blip.Utils.Tests/bin
Take.Blip.Utils.Tests/obj